{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <main class="form-signin m-auto">
        <h1 class="text-center">Login</h1>
        {% if errorMessage %}
            <div class="text-center text-danger">{{ errorMessage }}</div>
        {% endif %}
        <div class="container">
            <form action="{{ path('app_login') }}" method="post">
                <div class="form-floating mb-3">
                    <input class="form-control px-4" type="text" id="username" name="_username" value="{{ email }}">
                    <label for="username">Email:</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control px-4" type="password" id="password" name="_password">
                    <label for="password">Password:</label>
                </div>

                <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
                <p class="text-center">or <a href={{ path('app_register') }}>register</a></p>
            </form>
        </div>
    </main>

{% endblock %}
